<style>
  @font-face {
      font-family: 'Elianto-Regular';
      src: url("Elianto-Regular.ttf") format('truetype');

  }
  body {
    background-image: url("../hex2.png");
  }
</style>
<h1 align="center" style='font-family: "Elianto-Regular"; font-size: 100px; font-weight: normal; color: white; letter-spacing: 20px; ' >COGNIFY</h1><br>
