<style>
  @font-face {
      font-family: 'Elianto-Regular';
      src: url("Elianto-Regular.ttf") format('truetype');
  }
  body {
    background-image: url("../hex2.png");
  }
</style>
<body>
  <h1 align="center" style='font-family: "Elianto-Regular"; font-size: 100px; font-weight: normal; color: white; letter-spacing: 20px; margin-top:100px; margin-bottom: 50px; ' >COGNIFY</h1><br>
  <div class="container" style='display: flex; margin-left: -50px'>
    <a class="container" href="<%=new_user_session_path%>" style='width:420px; display: inline-block'>
      <img class="polygon-link" src="../hex2.png" alt="Login">
      <div class="centered" style='font-family: "Elianto-Regular"; font-size: 50px; font-weight: normal; color: white; margin-top: -36px; margin-left: -50px; width:100px'>Login</div>
    </a>
    <a class="container" href="<%=new_user_registration_path%>" style='width:420px;display: inline-block; margin-left: -100px; margin-top: 140px;'>
      <img class="polygon-link" src="../edu.jpeg" alt="Login">
      <div class="centered" style='font-family: "Elianto-Regular"; font-size: 50px; font-weight: normal; color: white;  margin-top: -36px; margin-left: -70px; width:100px'>Register</div>
    </a>
    <a class="container" href="<%=new_user_session_path%>" style='width:420px;display: inline-block'>
      <img class="polygon-link" src="../about-us.png" alt="Login">
      <div class="centered" style='font-family: "Elianto-Regular"; font-size: 50px; font-weight: normal; color: white;  margin-top: -36px; margin-left: -50px; width:100px'>About us</div>
    </a>
  </div>
</body>
