<% @courses.each do |course|%>
  <div>
    <%= link_to course.title, course_path(course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
    <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_course_path(course), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> |
    <%= link_to '<i class="glyphicon glyphicon-remove"></i> Delete'.html_safe, course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'  %>
  </div>
<% end %>
