<div class='content-panel'>
  <div>
      <%= @course.title %>
  </div>

  <div>
      <%= @course.description %>
  </div>

  <div>
      <%= @course.category.name %>
  </div>

  <div>
      <%= @course.price %>
  </div>
</div>
