/*
 *= require_tree .
 *= require_self
 */

.margin-wrapper {
    margin-top: 120px;
    margin-left: 300px;
    width: 50%;
}

.margin-wrapper1 {
    margin-top: 150px;
    margin-left: 200px;
    width: 100%;
    background-color: white;
    border: 1px solid #E3E6ED;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius:4px;
    font-family: 'Ubuntu';
}

.wr-head {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  
  background-color: #E3E6ED;
  font-size: 24px;
  display: flex;
}

.margin-wrapper2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Ubuntu';
    height: 50px;
    border-radius:4px;
}

@font-face {
    font-family: 'Elianto-Regular';
    src: url("Elianto-Regular.ttf") format('truetype');
}

body {
    font-family: 'Elianto-Regular';
    font-size: 18px;
    background-image: url("../hex2.png");
}

.round-image-50 {
    background-color: white;
    border: 1px transparent;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    height: 70px;
    width: 70px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.index-links {}
.polygon-link {
    width: 420px;
    height: 280px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: -1;
}

.container1 {
    width: 420px;
    height: 280px;
    position: relative;
}

.centered {
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px 4px black;
    position: absolute;
}

.modal-login {
    color: #636363;
    width: 350px;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
    border-color: #70c5c0;
}

.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}

.modal-login .modal-footer a {
    color: #999;
}

.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
    width: 100%;
}

.modal-login.modal-dialog {
    margin-top: 80px;
}

.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: #2F83EF;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-login .btn:hover, .modal-login .btn:focus {
    background: #1164D0;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    display: flex;
    height: 80px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: white;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 8px;
    background: #DDDED7;
}

#sidebar ul.components {
    padding: 20px 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.25em;
    padding-left: 30px;
    display: block;
}

#sidebar ul li a:hover {
    color: #3C8BF2;
    background: #DDDED7;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {

    background: #E5E5E3;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #EDEFE6;
}

#content {
    width: 100%;
    padding: 20px;
    height: 130px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
