<div class='margin-wrapper1' style='width: 600px'>
  <% @categories.each do |category|%>
    <div class="margin-wrapper2" align='left'>
      <div class="col-xs-12" style='padding-top: 20px;display:flex; background-color: #E3E6ED;'>
        <div style=' width: 150px; margin-right: 150px; margin-top: -15px'>
          <%= category.name %>
        </div>
        <div style=' margin-top: -15px'>
          <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe, edit_portal_category_path(category), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
          <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, portal_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
